.header {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 30%;
    margin-top: 25px;
    margin-left: 15%;
    margin-right: 15%;
}
.search_box {
    display: flex;
    flex-direction: column;
    height: 150px;
}
.search_box #left_element,
.search_box #right_element {
    display: flex;
    flex-direction: row;
}
.search_box #left_element #shortcuts {
    padding-right: 20px;
}
.search_box #search_form #naver_icon {
    padding-top: 1px;
    padding-left: 1px;
}
.search_box #search_form #keyboard_img {
    padding-top: 3px;
    padding-right: 1px;
}
.search_box #search_form #reading_glass {
    padding-top: 5px;
    padding-right: 1px;
}
#search_form {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-evenly;
    border: 2px solid green;
    border-radius: 20px;
    margin-left: 30%;
    width: 40%;
    height: 50px;
}
#search_form #input_form {
    width: 100%;
}
#search_form #input_form #input {
    border-width: 0px;
    outline: white;
    margin-top: 5px;
    height: 80%;
    width: 70%;
    margin-left: 80px;
    font-size: 20px;
}
#search_form #naver_icon {
    position: absolute;
    top: 1px;
    left: 15px;
}
#search_form #keyboard_img {
    position: absolute;
    top: 1px;
    right: 30px;
}
#search_form #reading_glass {
    position: absolute;
    top: 1px;
    right: 15px;
}

.advertisement {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}
.advertisement #c_adv_img {
    height: 150px;
    width: 100%;
}
.container {
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
}
.container .content {
    width: 70%;
}
.container .aside {
    width: 30%;
    margin-left: 20px;
}
.container .content .top .news {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 10px;
}

.container .content .top .news #header_view {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    /* align-items: center; */
}
#header_view #list ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0px;
}
#header_view #list li {
    list-style-type: none;
    padding-left: 10px;
}
#header_view #asian_cup_img {
    width: 150px;
    height: 50px;
}
#header_subview {
    display: flex;
    flex-direction: row;
    height: 35px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #f5f7f8;
}
#header_subview #subview_list_box,
#header_subview #news_home_btn,
#header_subview #sub_news_img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
#media_view_img {
    width: 100%;
}
#paging_view {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#paging_view #page_lt_rt {
    display: flex;
    flex-direction: row;
    padding-left: 40%;
}
#paging_view #page {
    font-size: 15px;
    font-weight: bold;
}
#paging_view #btn {
    display: flex;
    flex-direction: row;
}
#btn #btn_list_img,
#btn #btn_thumb_img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}
.login {
    margin: 10px;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 10px;
}
.login #login_banner {
    display: flex;
    justify-content: center;
    object-fit: cover;
}
.login #login_banner #login_banner_img {
    width: 105%;
}
.login #login_comment {
    display: flex;
    justify-content: center;
    font-size: 15px;
}
.login_main {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-evenly;
    font-size: 13px;
}

.login_adv {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 10px;
}
.login_adv #login_adv_img {
    width: 100%;
    height: 100%;
}

.footer_top {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
/* 달력 위젯 컨테이너 */
.widget_calendar {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
/* 달력 컨테이너 */
.calendar {
    width: 300px;
    padding: 20px;
}
/* 요일 헤더 */
.calendar .weekdays {
    display: flex;
    justify-content: space-between;
}
/* 달력 요일 */
.calendar .weekdays .day {
    width: calc(100% / 7);
    text-align: center;
    font-weight: bold;
}
/* 달력 날짜 */
.calendar .days {
    display: flex;
    flex-wrap: wrap;
}
/* 날짜 셀 */
.calendar .days .day {
    width: calc(100% / 7);
    text-align: center;
    padding: 5px 0;
}
/* 이전 달 날짜 스타일 */
.calendar .days .day.before-month {
    color: rgb(214, 101, 101);
}
/* 다음 달 날짜 스타일 */
.calendar .days .day.next-month {
    color: rgb(97, 93, 93);
}
.calendar .days .weekend {
    width: calc(100% / 7);
    text-align: center;
    padding: 5px 0;
    color: red;
}
.calendar .weekdays .weekend {
    width: calc(100% / 7);
    text-align: center;
    font-weight: bold;
    color: red;
}
/* 메모 위젯 컨테이너 */
.widget_memo {
    width: 340px;
    height: 170px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}
/* 메모 헤더 */
.memo_title {
    padding: 10px;
    background-color: #17b75e;
    color: white;
    font-weight: bold;
}
/* 메모 내용 */
.memo_content {
    padding: 10px;
    border-top: 1px solid #ccc;
}
/* 영어사전 위젯 컨테이너*/
.widget_dictionary {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.widget_papago {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
/**/
.widget_vibe {
    width: 300px;
    height: 250px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
}
.vibe_img {
    display: flex;
    justify-content: space-around;
    margin-left: 15px;
}
.widget_vibe .img1 .img2 .img3 {
    display: flex;
    flex-direction: column;
}
.ad1 {
    display: flex;
}
.ad1 img {
    margin-top: 10px;
    margin-right: 30px;
    height: 130px;
    width: 195px;
}
.ad1:hover img {
    transform: scale(1.05);
}
.broswer_box {
    flex-wrap: wrap;
    width: 200px;
    height: 100px;
    margin-right: 30px;
}

.left-box {
    float: left;
}
.right-box {
    float: right;
}
