.header{
    display:flex;
    flex-direction:column;    
}
.search_box{
    display:flex;
    flex-direction:column;
}
.search_box #left_element,
.search_box #right_element{
    display:flex;
    flex-direction:row;    
}
.search_box #left_element #shortcuts,
.search_box #right_element #naver_talk {
    padding-right:20px;
}
#search_form{
    display:flex;
    flex-direction:row;
    justify-content: center;
    justify-content: space-evenly;
}
.advertisement{
    width:70%;
}
.advertisement #c_adv_img{
    width:100%;
}
.container{
    display:flex;  
    justify-content:space-between;    
    margin-left:10px;
}
.container .content {
    width: 70%;
}
.container .aside {
    width: 30%;
    margin-left:20px;
}
.container .content .top .news{
    display:flex;
    flex-direction:column;
}

.container .content .top .news #header_view{
    display:flex;    
    justify-content: space-between;
    padding:10px;
    /* align-items: center; */
}
#header_view #list ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding:0px;
}
#header_view #list li {
    list-style-type: none;    
    padding-left:10px;
}
#header_view #asian_cup_img{
    width: 150px;
    height: 50px;
}
#header_subview{
    display: flex;
    flex-direction: row;
    height:35px;
    padding:10px;
    margin-left:10px;
    margin-right:10px;
}
#header_subview #subview_list_box,
#header_subview #news_home_btn,
#header_subview #sub_news_img{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
#media_view_img{
    width:100%;
}
#paging_view {    
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
}
#paging_view #page_lt_rt {
    display:flex;
    flex-direction: row;
    padding-left:40%;
}
#paging_view #btn {
    display: flex;
    flex-direction: row;
}
#btn #btn_list_img ,
#btn #btn_thumb_img{
    width: 40px;
    height: 40px;   
    margin-left:10px;
}

.footer{
    display:flex;
    flex-direction:column;
    align-items:center;
}